.container{
  display:flex;
  flex-direction:column;
  align-items:center;
  height:100%;
  width:100%;
  position:absolute;
  top:200px;
  left:0px;
  right:0px;
}

button{
  border-radius:5px;
  height: 35px;
  width: 150px;
}

hr{
    width:33%;
}

.inp{
  width:630px;
  text-align: center;
  height: 40px !important;
  border-color:black;
}

.url{
    border-right:none;
    border-radius: 10px 0px 0px 10px;
}

.desc{
    border-radius: 0px 10px 10px 0px;
}

.btn-container{
  display:flex;
  gap: 30px;
  padding-top:15px;
}

.store-btn{
    background-color:rgb(99, 99, 245);
    color:white;
}
.clear-btn{
    background-color:rgb(255, 255, 255);
}

.delete{
    border-radius:10px;
}
.results{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    width:30%
}

.res-hr{
    width:100%;
}
.res-text {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 0px; 
}

ul {
  list-style-type: none;
}