.c{
    display:flex;
    justify-content:center;
    position:absolute;
    top:70px;
    left:0px;
    right:0px;
    
}   

.sw{
    border: none;
    font-size: 18px;
    margin-bottom: 0px; 
}

.vl{
    min-height: 100%; /* Or a fixed height */
    width: 1px;
    background-color: #575757;
    margin: 0 10px;
}

.active{
    color:#000099;
    font-weight: 700;
}

ul {
  list-style-type: none;
}